.list {
  width: 600px;
  margin: 0 auto;
  /*编译后生成 .list_t*/
}
.list li {
  line-height: 20px;
  list-style: none;
}
.list a {
  text-decoration: none;
}
.list a:hover {
  color: red;
}
.list_t {
  color: yellow;
}
